<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>notificationId</key>
		<integer>1</integer>
		<key>notificationType</key>
		<string>2</string>
		<key>imageUrlString</key>
		<string>https://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars_2E00_/default.png_2D00_40x40.png</string>
		<key>fromUserId</key>
		<integer>123</integer>
		<key>postId</key>
		<integer>0</integer>
		<key>fromUserName</key>
		<string>dhawal_parekh</string>
		<key>socialName</key>
		<string>null</string>
		<key>frndSocialName</key>
		<string>null</string>
		<key>similarCount</key>
		<integer>1</integer>
		<key>similarData</key>
		<array/>
		<key>timeStamp</key>
		<integer>27</integer>
		<key>serverTimeStamp</key>
		<integer>27</integer>
		<key>readStatus</key>
		<string>0</string>
	</dict>
	<dict>
		<key>notificationId</key>
		<integer>2</integer>
		<key>notificationType</key>
		<string>0</string>
		<key>imageUrlString</key>
		<string>http://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars-00-00-04-80-05/4TFSEKCVUXW4.png_2D00_40x40.png</string>
		<key>fromUserId</key>
		<integer>456</integer>
		<key>postId</key>
		<integer>123</integer>
		<key>fromUserName</key>
		<string>elle_ortiz</string>
		<key>socialName</key>
		<string>null</string>
		<key>frndSocialName</key>
		<string>null</string>
		<key>similarCount</key>
		<integer>3</integer>
		<key>similarData</key>
		<array>
			<dict>
				<key>notificationId</key>
				<integer>2</integer>
				<key>notificationType</key>
				<string>0</string>
				<key>imageUrlString</key>
				<string>http://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars-00-00-04-80-05/4TFSEKCVUXW4.png_2D00_40x40.png</string>
				<key>fromUserId</key>
				<integer>156</integer>
				<key>postId</key>
				<integer>123</integer>
				<key>fromUserName</key>
				<string>rose_merry</string>
				<key>socialName</key>
				<string>null</string>
				<key>frndSocialName</key>
				<string>null</string>
				<key>similarCount</key>
				<integer>1</integer>
				<key>similarData</key>
				<array/>
				<key>timeStamp</key>
				<integer>29</integer>
				<key>serverTimeStamp</key>
				<integer>27</integer>
				<key>readStatus</key>
				<string>0</string>
			</dict>
			<dict>
				<key>notificationId</key>
				<integer>2</integer>
				<key>notificationType</key>
				<string>0</string>
				<key>imageUrlString</key>
				<string>http://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars-00-00-04-80-05/4TFSEKCVUXW4.png_2D00_40x40.png</string>
				<key>fromUserId</key>
				<integer>124</integer>
				<key>postId</key>
				<integer>123</integer>
				<key>fromUserName</key>
				<string>savera_subh</string>
				<key>socialName</key>
				<string>null</string>
				<key>frndSocialName</key>
				<string>null</string>
				<key>similarCount</key>
				<integer>1</integer>
				<key>similarData</key>
				<array/>
				<key>timeStamp</key>
				<integer>30</integer>
				<key>serverTimeStamp</key>
				<integer>27</integer>
				<key>readStatus</key>
				<string>0</string>
			</dict>
		</array>
		<key>timeStamp</key>
		<integer>28</integer>
		<key>serverTimeStamp</key>
		<integer>27</integer>
		<key>readStatus</key>
		<string>0</string>
	</dict>
	<dict>
		<key>notificationId</key>
		<integer>5</integer>
		<key>notificationType</key>
		<string>1</string>
		<key>imageUrlString</key>
		<string>http://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars-00-00-04-80-05/4TFSEKCVUXW4.png_2D00_40x40.png</string>
		<key>fromUserId</key>
		<integer>758</integer>
		<key>postId</key>
		<integer>474</integer>
		<key>fromUserName</key>
		<string>mauricefuchs</string>
		<key>socialName</key>
		<string>null</string>
		<key>frndSocialName</key>
		<string>null</string>
		<key>similarCount</key>
		<integer>2</integer>
		<key>similarData</key>
		<array>
			<dict>
				<key>notificationId</key>
				<integer>6</integer>
				<key>notificationType</key>
				<string>1</string>
				<key>imageUrlString</key>
				<string>http://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars-00-00-04-80-05/4TFSEKCVUXW4.png_2D00_40x40.png</string>
				<key>fromUserId</key>
				<integer>556</integer>
				<key>postId</key>
				<integer>474</integer>
				<key>fromUserName</key>
				<string>sameer_rane</string>
				<key>socialName</key>
				<string>null</string>
				<key>frndSocialName</key>
				<string>null</string>
				<key>similarCount</key>
				<integer>1</integer>
				<key>similarData</key>
				<array/>
				<key>timeStamp</key>
				<integer>32</integer>
				<key>serverTimeStamp</key>
				<integer>27</integer>
				<key>readStatus</key>
				<string>0</string>
			</dict>
		</array>
		<key>timeStamp</key>
		<integer>31</integer>
		<key>serverTimeStamp</key>
		<integer>27</integer>
		<key>readStatus</key>
		<string>0</string>
	</dict>
	<dict>
		<key>notificationId</key>
		<integer>7</integer>
		<key>notificationType</key>
		<string>3</string>
		<key>imageUrlString</key>
		<string>http://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars-00-00-04-80-05/4TFSEKCVUXW4.png_2D00_40x40.png</string>
		<key>fromUserId</key>
		<integer>525</integer>
		<key>postId</key>
		<integer>325</integer>
		<key>fromUserName</key>
		<string>jessarbor</string>
		<key>socialName</key>
		<string>null</string>
		<key>frndSocialName</key>
		<string>null</string>
		<key>similarCount</key>
		<integer>2</integer>
		<key>similarData</key>
		<array>
			<dict>
				<key>notificationId</key>
				<integer>8</integer>
				<key>notificationType</key>
				<string>3</string>
				<key>imageUrlString</key>
				<string>http://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars-00-00-04-80-05/4TFSEKCVUXW4.png_2D00_40x40.png</string>
				<key>fromUserId</key>
				<integer>245</integer>
				<key>postId</key>
				<integer>325</integer>
				<key>fromUserName</key>
				<string>rauf_sahib</string>
				<key>socialName</key>
				<string>null</string>
				<key>frndSocialName</key>
				<string>null</string>
				<key>similarCount</key>
				<integer>1</integer>
				<key>similarData</key>
				<array/>
				<key>timeStamp</key>
				<integer>34</integer>
				<key>serverTimeStamp</key>
				<integer>34</integer>
				<key>readStatus</key>
				<string>0</string>
			</dict>
		</array>
		<key>timeStamp</key>
		<integer>33</integer>
		<key>serverTimeStamp</key>
		<integer>33</integer>
		<key>readStatus</key>
		<string>0</string>
	</dict>
	<dict>
		<key>notificationId</key>
		<integer>9</integer>
		<key>notificationType</key>
		<string>4</string>
		<key>imageUrlString</key>
		<string>https://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars_2E00_/default.png_2D00_40x40.png</string>
		<key>fromUserId</key>
		<integer>489</integer>
		<key>postId</key>
		<integer>0</integer>
		<key>fromUserName</key>
		<string>alexa1</string>
		<key>socialName</key>
		<string>Facebook</string>
		<key>frndSocialName</key>
		<string>Alexia Weiner</string>
		<key>similarCount</key>
		<integer>1</integer>
		<key>similarData</key>
		<array/>
		<key>timeStamp</key>
		<integer>35</integer>
		<key>serverTimeStamp</key>
		<integer>35</integer>
		<key>readStatus</key>
		<string>0</string>
	</dict>
	<dict>
		<key>notificationId</key>
		<integer>10</integer>
		<key>notificationType</key>
		<string>4</string>
		<key>imageUrlString</key>
		<string>https://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars_2E00_/default.png_2D00_40x40.png</string>
		<key>fromUserId</key>
		<integer>647</integer>
		<key>postId</key>
		<integer>0</integer>
		<key>fromUserName</key>
		<string>jr_w_s_erving</string>
		<key>socialName</key>
		<string>Google+</string>
		<key>frndSocialName</key>
		<string>Wilhelm S Erving</string>
		<key>similarCount</key>
		<integer>1</integer>
		<key>similarData</key>
		<array/>
		<key>timeStamp</key>
		<integer>36</integer>
		<key>serverTimeStamp</key>
		<integer>36</integer>
		<key>readStatus</key>
		<string>0</string>
	</dict>
	<dict>
		<key>notificationId</key>
		<integer>11</integer>
		<key>notificationType</key>
		<string>2</string>
		<key>imageUrlString</key>
		<string>https://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars_2E00_/default.png_2D00_40x40.png</string>
		<key>fromUserId</key>
		<integer>854</integer>
		<key>postId</key>
		<integer>0</integer>
		<key>fromUserName</key>
		<string>ajit_satyadeva</string>
		<key>socialName</key>
		<string>null</string>
		<key>frndSocialName</key>
		<string>null</string>
		<key>similarCount</key>
		<integer>1</integer>
		<key>similarData</key>
		<array/>
		<key>timeStamp</key>
		<integer>37</integer>
		<key>serverTimeStamp</key>
		<integer>37</integer>
		<key>readStatus</key>
		<string>0</string>
	</dict>
	<dict>
		<key>notificationId</key>
		<integer>12</integer>
		<key>notificationType</key>
		<string>0</string>
		<key>imageUrlString</key>
		<string>http://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars-00-00-04-80-05/4TFSEKCVUXW4.png_2D00_40x40.png</string>
		<key>fromUserId</key>
		<integer>854</integer>
		<key>postId</key>
		<integer>221</integer>
		<key>fromUserName</key>
		<string>ajit_satyadeva</string>
		<key>socialName</key>
		<string>null</string>
		<key>frndSocialName</key>
		<string>null</string>
		<key>similarCount</key>
		<integer>1</integer>
		<key>similarData</key>
		<array/>
		<key>timeStamp</key>
		<integer>38</integer>
		<key>serverTimeStamp</key>
		<integer>38</integer>
		<key>readStatus</key>
		<string>0</string>
	</dict>
	<dict>
		<key>notificationId</key>
		<integer>13</integer>
		<key>notificationType</key>
		<string>4</string>
		<key>imageUrlString</key>
		<string>https://blogs.windows.com/cfs-filesystemfile.ashx/__key/communityserver-components-imagefileviewer/communityserver-components-avatars_2E00_/default.png_2D00_40x40.png</string>
		<key>fromUserId</key>
		<integer>569</integer>
		<key>postId</key>
		<integer>0</integer>
		<key>fromUserName</key>
		<string>timothy_bell</string>
		<key>socialName</key>
		<string>Twitter</string>
		<key>frndSocialName</key>
		<string>timothy_bell</string>
		<key>similarCount</key>
		<integer>1</integer>
		<key>similarData</key>
		<array/>
		<key>timeStamp</key>
		<integer>40</integer>
		<key>serverTimeStamp</key>
		<integer>40</integer>
		<key>readStatus</key>
		<string>0</string>
	</dict>
</array>
</plist>
